<%= tag.div id: "order-#{@order.id}" do %>
  <p>Order ID <%= @order.id %></p>
  <p>Created: <%= @order.created_at %></p>
  <p>Last Update: <%= @order.updated_at %></p>
  <p>Status: <%= @order.status %></p>
  <p>Item Count: <%= @order.total_item_count %></p>
  <p>Total Cost: <%= number_to_currency(@order.total_cost) %></p>

  <p> Current shipping address: <%=@order.address.street_address%> <%=@order.address.state%>, <%=@order.address.city%> <%=@order.address.zip%>
    <% if @order.status == 'pending' %>
      <p><%= button_to 'Cancel Order', profile_order_path(@order), method: :delete %></p>
    <%end%>
    <% @order.order_items.each do |oitem| %>
      <%= tag.div id: "oitem-#{oitem.id}" do %>
        <%= render partial: "/profile/orders/order_item_card", locals: {oitem: oitem, img_width: 150} %>
        <% if @order.status == 'pending' %>
          <%=form_tag profile_order_path(@order), method: :patch do  |f|%>
          <%current_user.addresses.each do |address| %>
            <input name="address_id" value="<%=address.id%>" type="radio" checked>
            <span><%=address.street_address%> <%=address.state%>, <%address.city%> <%=address.zip%></span>
          <%end%>
      </br>
      <% unless current_user.addresses.empty? %>
        <%= submit_tag "Change Shipping Address"%>
      <%end%>
        <% end %>
      <% end %>
    <% end %>
<% end %>
<% end %>
